.cielo{
    background-color: darkturquoise;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.sol{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     background-color: gold;
}

.venado{
    height: 50px;
    width: 50px;
    border-radius:50%;
    background-color: rgb(52, 124, 52);
}