.cielo{
    background-color: darkturquoise;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.sol{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     background-color: gold;
}

.venado {
            width: 120px;
            height: 120px;
            background-color: rgba(117, 103, 29, 0.59);
        }

